<div class="overflow-x-auto relative">
  <button (click)="refreshData()" type="button" class="self-end text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Refresh</button>
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <tbody>
      <tr class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">Id</th>
        <td>{{userData.id}}</td>
      </tr>
      <tr class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">Account Number</th>
        <td>{{userData.accountNumber}}</td>
      </tr>
      <tr class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">First Name</th>
        <td>{{userData.name}}</td>
      </tr>
      <tr class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">Middle Name</th>
        <td>{{userData.middleName ? userData.middleName : "------------" }}</td>
      </tr>
      <tr class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">Last Name</th>
        <td>{{userData.lastName ? userData.lastName : "------------"}}</td>
      </tr>
      <tr class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">UserName</th>
        <td>{{userData.userName}}</td>
      </tr>
      <tr class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">Account Type</th>
        <td>{{userData.accountType}}</td>
      </tr>
      <tr class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">Mobile Number</th>
        <td>{{userData.mobileNumber}}</td>
      </tr>
      <tr class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">Account Balance</th>
        <td>{{userData.accountBalance}}</td>
      </tr>
    </tbody>
  </table>
</div>