<div>
  <app-header [userData]="userDetails" [changeUserData]="changeUserData" [currentTabState]="currentTabState" [changeTabCallback]="changeTabCallback"></app-header>
  <app-show-account-number [accountNumber]="userDetails.accountNumber"></app-show-account-number>
  <div class="p-20">
    <ng-container [ngSwitch]="true">
      <ng-container *ngSwitchCase="currentTabState == 'login'">
        <app-login [updateUserDetails]="updateUserDetails" [changeTabCallback]="changeTabCallback" ></app-login>
      </ng-container>
      <ng-container *ngSwitchCase="currentTabState == 'register'">
        <app-register></app-register>
      </ng-container>
      <ng-container *ngSwitchCase="currentTabState == 'accountDetails'">
        <app-account-deatils [userData]="userDetails" [onRefresh]="onRefresh"></app-account-deatils>
      </ng-container>
      <ng-container *ngSwitchCase="currentTabState == 'fundTransfer'">
        <app-fund-transfer [sourceAccountNumber]="userDetails.accountNumber"></app-fund-transfer>
      </ng-container>
      <ng-container *ngSwitchCase="currentTabState == 'transactions'">
        <app-transactions [accountNumber]="userDetails.accountNumber"></app-transactions>
      </ng-container>
      <ng-container *ngSwitchCase="currentTabState == 'atmPin'">
        <app-atm-pin [setPin]="userDetails.setPin" [accountNumber]="userDetails.accountNumber"></app-atm-pin>
      </ng-container>
    </ng-container>
  </div>
</div>